@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #080808;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(img/wallpaperflare.com_wallpaper\ \(6\).jpg);
    background-size: cover;
    background-position: center;
}
nav img{
    width: 350px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    position: relative;
}
nav ul li a::after{
    content: " ";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover:after{
    width: 100%;
}
.container{
    background-color: black;
    padding: 10px 10%;
   

}
.infoContainer{
    
    height: 60vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 55px;
}

.name{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.name span{
    color: #ff004f;
}

.about{
    font-size: 50px;
}
.more-about{
    font-size: 25px;
    margin-top: 22px;
    font-family: 'Fira Sans', sans-serif;
}
.buttons{
    margin-top: 30px;
}

.buttons button{
    padding: 8px 14px;
    border-radius: 22px;
    color: black;
    background-color: white ;
    font-weight: bold;
    font-size: 21px;
    margin: 0 5px;
    cursor: pointer;
}
.buttons button:hover{
    transition: 0.5s;
    background-color: #ff004f;
    color: white;
}
.devPic img{
    height: 45vh;
}
.contactform{
    font-family: 'Fira Sans', sans-serif;
    padding: 50px 0;
    text-align: center;
}
.contactform form div{
   padding: 10px 0;
   display: flex;
   flex-direction: column;
}
.contactform input , button{
    font-size: 20px;
   border-radius: 10px;
}
